@font-face
{
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('./MaterialIcons-Regular.ttf');
}

	.material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;

		-webkit-font-smoothing: antialiased;

		text-rendering: optimizeLegibility;

		-moz-osx-font-smoothing: grayscale;

		font-feature-settings: 'liga';
	}

.activity-bar
{
	position: fixed;

	top: 0;
	left: 0;
	bottom: 0;

	width: 64px;

	background: #111;

	border-right: 1px solid #333;

	z-index: 3;
}

	.activity-bar .button
	{
		display: flex;
		align-items: center;
		justify-content: center;

		width: 64px;
		height: 64px;

		color: white;
		border-bottom: 1px solid #333;
		
		cursor: default;
	}

	.activity-bar .button:hover
	{
		background-color: lightseagreen;
	}

	.activity-bar .button i
	{
		-webkit-user-select: none;
	}

.side-nav
{
	position: fixed;
	top: 0;
	left: 64px;
	bottom: 0;

	width: 320px;
	
	color: white;
	background-color: #222;
	
	box-shadow: 2px 0 3px rgba(0, 0, 0, 0.4);

	overflow: hidden;

	z-index: 2;
}

	.side-nav .row
	{
		width: 200%;
	}

	.side-nav.nav .row
	{
		margin-left: -100%;
	}

	.side-nav .column
	{
		display: block;
		width: 50%;
		float: left;
	}

		.side-nav .column::-webkit-scrollbar
		{
			border: 1px solid #444;;
		}

		.side-nav .column:hover::-webkit-scrollbar-thumb
		{
			background: rgba(255, 255, 255, 0.1);
		}

	.side-nav .list:not(:first-child)
	{
		margin-top: 30px;
	}

		.side-nav .list .heading
		{
			padding: 10px 20px 6px 20px;

			font-family: Arial;
			font-size: 12px;

			color: #ddd;
			font-weight: bold;
			
			border-bottom: 1px solid #666;
		}

		.side-nav .list .item
		{
			position: relative;
			padding: 10px 40px;

			font-family: Calibri Light;

			color: #adadad;

			cursor: pointer;
		}
		
		.side-nav .list .item:hover
		{
			background: dodgerblue;
			color: white;
		}

		.side-nav .list .item.selected
		{
			color: orange;
		}

		.side-nav .list .item.selected::before
		{
			content: "";
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;

			width: 4px;
			background-color: orange;
		}

		.side-nav .list .item.selected::after
		{
			content: "";
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0;
		}

		.side-nav .list .item.selected:hover
		{
			background: orange;
			color: #222;
			font-weight: bold;
		}


.button-group
{
	color: white;
}

	.button-group .button
	{
		display: inline-block;
		padding: 10px;

		border-radius: 3px;
	}

	.button-group .button:hover
	{
		background: white;
		color: #444;

		cursor: pointer;
	}

	.button-group .button.selected
	{
		color: white;
		background: #444;
		box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
	}


.body
{
	display: flex;
	flex-direction: column;

	justify-content: flex-start;

	position: fixed;


	left: 384px;
	top: 0;
	bottom: 0;
	right: 0;

	min-width: 720px;

	background: tomato;

	z-index: 1;
}

.main
{
	flex: 1 1 auto;
	flex-direction: row;
}

	.banner.upper-banner
	{
		padding: 10px 40px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

		background: lightseagreen;

		z-index: 3;
	}

	.calendar-heading
	{
		display: flex;
		align-items: center;

		flex: 0 0 60px;

		padding-left: 100px;
		padding-right: 100px;
		padding-top: 20px;

		color: white;
		background: gray;

		z-index: 2;
	}

		.calendar-heading .action
		{
			display: inline;
			flex: 0 0 auto;
			cursor: pointer;

			font-size: 40px;

			-webkit-user-select: none;

			transition: background 0.05s;
		}

		.calendar-heading .action:hover
		{
			color: gray;
			background-color: white;
		}

		.calendar-heading .text
		{
			flex: 1 1 auto;
			text-align: center;

			font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
			font-size: 28px;
		}

	table.calendar-body
	{
		display: block;
		border-collapse: collapse;

		text-align: center;

		z-index: 1;
	}
		
		table.calendar-body thead, table.calendar-body tbody
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			width: 100%;
		}

		table.calendar-body thead
		{
			background: gray;
		}

		table.calendar-body tbody
		{
			padding-top: 10px;
			padding-bottom: 10px;
			background: #444;

			box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
		}

		table.calendar-body thead tr, table.calendar-body tbody tr
		{
			display: flex;
			flex-direction: row;
			justify-content: center;

			width: 560px;
		}

		table.calendar-body thead tr th
		{
			display: block;
			flex: 1 1 0;
			padding-top: 20px;
			padding-bottom: 20px;

			color: #444;

			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			font-size: 16px;
			font-weight: bold;

			cursor: default;
			-webkit-user-select: none;
		}

		table.calendar-body tbody tr td
		{
			display: flex;
			flex: 1 1 0;
			padding-top: 16px;
			padding-bottom: 16px;

			color: white;
			background: #444;

			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			font-size: 16px;

			justify-content: center;

			-webkit-user-select: none;
			cursor: default;

			transition: transform 0.1s;
		}

		table.calendar-body tbody tr td .node
		{
			height: 20px;
		}

		table.calendar-body tbody tr td.visible:hover
		{
			background: dodgerblue;
		}
	
	.lower-banner
	{
		display: flex;
		padding: 20px 40px;
		justify-content: flex-end;
	}

		.button.raised-button
		{
			padding: 10px;

			background: #444;
			color: white;

			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

			border-radius: 3px;

			cursor: pointer;
			-webkit-user-select: none;
		}

		.button.raised-button:hover
		{
			color: #444;
			background: white;
		}
	
	.timeline
	{
		display: flex;
		position: relative;

		justify-content: center;
		flex: 1 1 0;

		padding: 0;
	}

	.timeline .column
	{
		overflow-y: auto;
	}

	.timeline .fixed-box
	{
		position: absolute;
		right: 80px;
		bottom: 140px;
	}
	
		.timeline .fixed-box .button
		{
			padding: 16px;
		}
		
	.timeline .card
	{
		display: flex;
		margin: 0 auto 16px auto;
		padding: 16px;

		width: 560px;
		color: white;
		background: #444;

		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

		font-family: Arial, Helvetica, sans-serif;
	}

	.timeline .card .time
	{
		display: flex;
		flex-direction: column;
		justify-content: center;

		flex: 0 0 56px;

		font-weight: bold;
		font-size: 16;

		color: dodgerblue;
		border-right: 1px solid #666;
	}

	.timeline .card .title
	{
		flex: 1 1 auto;

		margin-left: 16px;
	}

.calendar-editor
{
	margin: 15px 20px 30px 20px;
}

	.calendar-editor .title
	{
		margin-top: 30px;
		margin-bottom: 5px;

		font-family: Arial;
		font-size: 12px;

		color: #ddd;
		font-weight: bold;
	}

	.calendar-editor .input
	{
		margin: 5px auto;
		padding: 5px;

		background: none;
		color: white;

		font-size: 16px;
		font-family: Arial, Helvetica, sans-serif;

		outline: none;
		border: none;
		border-bottom: 2px solid #ddd;
	}

	.calendar-editor .warning
	{
		margin-top: 5px;
		margin-bottom: 5px;

		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;

		color: darkred;
		font-weight: bold;
	}

	.calendar-editor .input:focus
	{
		border-bottom-color: dodgerblue;
	}

	.calendar-editor .input.short
	{
		width: 40px;
		margin-right: 15px;
	}

	.calendar-editor .button-group
	{
		display: flex;
		justify-content: flex-end;

		margin: 30px auto;
	}

		.calendar-editor .button-group .button
		{
			padding: 10px 20px;

			margin: 0 5px;

			color: white;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			font-weight: bold;

			background: tomato;

			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

			-webkit-user-select: none;
		}

		.calendar-editor .button-group .button:hover
		{
			background: white;
			color: #444;
		}