<may-cover class="may-cover" #cover="cover" (click)="cover.close()">
	<div class="container">
		<div class="month">{{today | date: "MMMM"}}</div>
		<div class="date">{{today | date: "dd"}}</div>
	</div>
</may-cover>

<div class="container main" [style.background]="colorTheme">
	<div class="left">
		<!-- left side container -->
		<!--<div class="date-ribbon">
			<div class="date">{{today | date: "MMM"}}</div>
			<div class="time">{{today | date: "hh:mm:ss a"}}</div>
		</div>-->

		<div class="may-calendar-heading">
			<div class="action" (click)="previousMonth()">
				<i class="material-icons">keyboard_arrow_left</i>
			</div>
			<div class="month-year">{{selectedDay | date: "MMMM y"}}</div>
			<div class="action" (click)="nextMonth()">
				<i class="material-icons">keyboard_arrow_right</i>
			</div>
		</div>

		<div class="may-calendar-body">
			<div class="head">
				<div class="row">
					<div class="weekday" *ngFor="let weekday of weekdays">
						{{weekday}}
					</div>
				</div>
			</div>
			<div class="body">
				<div class="row" *ngFor="let week of month">
					<div class="day" *ngFor="let day of week" [class.visible]="day" [class.today]="today.getDate()==day && today.getMonth()==selectedDay.getMonth() && today.getFullYear()==selectedDay.getFullYear()" [class.selected]="day==selectedDay.getDate()" (click)="selectDay(day)">
						<span class="button">{{day}}</span>
						<span class="tooltip"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="tags" hrz-scroll>
			<div [class.selected]="selectedTag=='All'" class="tag" (click)="selectTag('All')">All</div>
			<div [class.selected]="selectedTag=='Weekly'" class="tag" (click)="selectTag('Weekly')">Weekly</div>
			<div [class.selected]="selectedTag=='Monthly'" class="tag" (click)="selectTag('Monthly')">Monthly</div>

			<div class="slash"></div>
		</div>
	</div>
	<div class="right">
		<!-- right side container -->
		<!--<div class="action-ribbon">
			<div class="button-group">
				<div class="button">
					<i class="material-icons">add</i>
				</div>
			</div>
		</div>-->

		<div class="content">
			<div *ngFor="let group of notes | sortByDate">
				<div class="date">{{group.date | date: "EEE MMM dd"}}</div>
				<div *ngFor="let note of group.notes" class="note">
					<div class="time">{{note.date | date: "hh:mm a"}}</div>
					<div class="title">{{note.title}}</div>
					<div class="action" (click)="action.open($event)">
						<i class="material-icons">more_vert</i>
						<div dropdown #action="dropdown" class="dropdown">
							<div (click)="action.close($event)">Edit</div>
							<div (click)="action.close($event)">Remove</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="editor" [class.edit]="edit">

		</div>
	</div>

	<div class="activity-bar">
		<div class="button" (click)="toggleEditor()">
			<i class="material-icons">add</i>
		</div>
		<div class="button" (click)="menu.open($event)">
			<i class="material-icons">menu</i>
			<div dropdown #menu="dropdown" class="dropdown dropdown-left">
				<div>Import</div>
				<div>Export</div>
			</div>
		</div>
		<div class="button" (click)="settings.open($event)">
			<i class="material-icons">settings</i>
			<div dropdown class="dropdown dropdown-left color-pallete" #settings="dropdown">
				<div *ngFor="let color of colorThemes" class="color-picker" [style.background]="color" (click)="colorTheme=color"></div>
			</div>
		</div>
	</div>
</div>