<may-cover class="may-cover" #cover="cover" (click)="cover.close()">
	<div class="container">
		<div class="month">{{today | date: "MMMM"}}</div>
		<div class="date">{{today | date: "dd"}}</div>
	</div>
</may-cover>

<div class="container main">
	<div class="left">
		<!-- left side container -->

		<div class="may-calendar-heading">
			<div class="action" (click)="previousMonth()">
				<i class="material-icons">keyboard_arrow_left</i>
			</div>
			<div class="month-year">{{selectedDay | date: "MMMM y"}}</div>
			<div class="action" (click)="nextMonth()">
				<i class="material-icons">keyboard_arrow_right</i>
			</div>
		</div>

		<div class="may-calendar-body">
			<div class="head">
				<div class="row">
					<div class="weekday" *ngFor="let weekday of weekdays">
						{{weekday}}
					</div>
				</div>
			</div>
			<div class="body">
				<div class="row" *ngFor="let week of month">
					<div class="day" *ngFor="let day of week" [class.visible]="day" [class.selected]="day==selectedDay.getDate()" (click)="select(day)">
						<span class="button">{{day}}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="tags" >
			<div class="tag">All</div>
			<div class="tag">Weekly</div>
			<div class="tag">Monthly</div>
		</div>

	</div>
	<div class="right">
		<!-- right side container -->
	</div>
</div>