#activity-bar
{
	position: fixed;

	top: 0;
	left: 0;
	bottom: 0;

	width: 64px;

	background: #111;

	border-right: 1px solid #333;

	z-index: 3;
}

	#activity-bar .button
	{
		display: flex;
		align-items: center;
		justify-content: center;

		width: 64px;
		height: 64px;

		color: white;
		border-bottom: 1px solid #333;
	}

	#activity-bar .button:hover
	{
		background-color: lightseagreen;
	}

#side-nav
{
	position: fixed;
	top: 0;
	left: 64px;
	bottom: 0;

	width: 400px;
	
	color: white;
	background-color: #222;
	
	box-shadow: 2px 0 3px rgba(0, 0, 0, 0.4);

	z-index: 2;
}

#side-nav::-webkit-scrollbar-thumb
{
	background-color: rgba(255, 255, 255, 0.1);
}


	#side-nav .list:not(:first-child)
	{
		margin-top: 30px;
	}

		#side-nav .list .header
		{
			padding: 10px 20px 6px 20px;

			font-family: Arial;
			font-size: 12px;

			color: #ddd;
			font-weight: bold;
			
			border-bottom: 1px solid #666;
		}

		#side-nav .list .item
		{
			position: relative;
			padding: 10px 40px;

			font-family: Calibri Light;

			color: #adadad;

			cursor: pointer;
		}

		#side-nav .list .item.selected
		{
			color: orange;
		}

		#side-nav .list .item.selected:hover::before
		{
			content: "";
			position: absolute;
			top: 5px;
			bottom: 5px;
			left: 0px;

			width: 3px;
			background-color: orange;
		}

		#side-nav .list .item.selected:hover::after
		{
			content: "";
			position: absolute;
			top: 0px;
			bottom: 0;
			left: 0px;
			right: 0px;

			background: rgba(255, 255, 255, 0.1);
		}

		#side-nav .list .item:hover
		{
			background-color: dodgerblue;
			color: white;
		}


#calendar-layout
{
	display: flex;
	flex-direction: column;

	position: fixed;

	left: 464px;
	top: 0;
	bottom: 0;
	right: 0;

	min-width: 720px;

	z-index: 1;
}

	#badge
	{
		position: relative;

		height: 60px;

		background: darkorange;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

		border-bottom: 1px solid #ddd;

		z-index: 3;
	}

	#calendar-header
	{
		display: flex;
		justify-content: center;
		align-items: center;

		position: relative;

		height: 60px;

		background: orange;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
		
		border-bottom: 1px solid #ddd;

		font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
		color: white;
		font-size: 28px;

		z-index: 2;		
	}

	#calendar-details
	{
		display: flex;
		flex-direction: column;

		justify-content: flex-start;
		align-items: center;

		position: relative;
		flex: 1 1 auto;

		height: max-content;

		background: white;
		z-index: 1;
	}

		#calendar-details ul.weakdays
		{
			display: flex;
			position: relative;

			justify-content: space-around;

			margin-top: 48px;
			padding: 0 0 10px 0;
		}

		#calendar-details ul.weakdays:after
		{
			content: "";
			position: absolute;

			bottom: 0px;
			left: 20px;
			right: 20px;

			height: 2px;

			background-color: white;
		}

		#calendar-details ul.weakdays li
		{
			display: inline-flex;

			justify-content: center;
			align-items: center;

			width: 80px;
			height: 15px;

			font-family: Arial;
			font-weight: bold;

			color: #666;
		}
		
		#calendar-details ul.days-in-month
		{
			display: block;
			
			margin: 0;
			padding: 0;
		}
		
		#calendar-details ul.days-in-month:first-child
		{
			padding-top: 30px;
		}

		#calendar-details ul.days-in-month li
		{
			display: inline-flex;

			justify-content: center;
			align-items: center;

			margin: 8px 25px;

			width: 30px;
			height: 30px;

			font-family: Arial;
			
			border-radius: 8px;

			color: #444;
		}
		
		#calendar-details ul.days-in-month li:hover
		{
			background-color: #444;
			color: white;
		}