<div id="activity-bar">
	<div class="button">
		<i class="material-icons">menu</i>
	</div>
	<div class="button">
		<i class="material-icons">settings</i>
	</div>
</div>

<div id="side-nav">
	<div class="list">
		<div class="header">General</div>
		<div class="item">All</div>
		<div class="item">Weakly</div>
		<div class="item">Monthly</div>
		<div class="item">Yearly</div>
	</div>

	
	<div class="list">
		<div class="header">Others</div>
		<div class="item">Birthdays</div>
		<div class="item">Events</div>
	</div>

	
	<div class="list">
		<div class="header">Tags</div>
	</div>
</div>

<div id="calendar-layout">
	<div id="badge">

	</div>
	<div id="calendar-header">

	</div>
	<div id="calendar-details">
		
	</div>
</div>