@font-face
{
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('src/MaterialIcons-Regular.ttf');
}

	.material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;

		-webkit-font-smoothing: antialiased;

		text-rendering: optimizeLegibility;

		-moz-osx-font-smoothing: grayscale;

		font-feature-settings: 'liga';
	}

.activity-bar
{
	position: fixed;

	top: 0;
	left: 0;
	bottom: 0;

	width: 64px;

	background: #111;

	border-right: 1px solid #333;

	z-index: 3;
}

	.activity-bar .button
	{
		display: flex;
		align-items: center;
		justify-content: center;

		width: 64px;
		height: 64px;

		color: white;
		border-bottom: 1px solid #333;
		
		cursor: default;
	}

	.activity-bar .button:hover
	{
		background-color: lightseagreen;
	}

	.activity-bar .button i
	{
		-webkit-user-select: none;
	}

.side-nav
{
	position: fixed;
	top: 0;
	left: 64px;
	bottom: 0;

	width: 320px;
	
	color: white;
	background-color: #222;
	
	box-shadow: 2px 0 3px rgba(0, 0, 0, 0.4);

	z-index: 2;
}

.side-nav::-webkit-scrollbar-thumb
{
	background-color: rgba(255, 255, 255, 0.1);
}


	.side-nav .list:not(:first-child)
	{
		margin-top: 30px;
	}

		.side-nav .list .heading
		{
			padding: 10px 20px 6px 20px;

			font-family: Arial;
			font-size: 12px;

			color: #ddd;
			font-weight: bold;
			
			border-bottom: 1px solid #666;
		}

		.side-nav .list .item
		{
			position: relative;
			padding: 10px 40px;

			font-family: Calibri Light;

			color: #adadad;

			cursor: pointer;
		}
		
		.side-nav .list .item:hover
		{
			background: dodgerblue;
			color: white;
		}

		.side-nav .list .item.selected
		{
			color: orange;
		}

		.side-nav .list .item.selected::before
		{
			content: "";
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;

			width: 4px;
			background-color: orange;
		}

		.side-nav .list .item.selected::after
		{
			content: "";
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0;
		}

		.side-nav .list .item.selected:hover
		{
			background: orange;
			color: #222;
			font-weight: bold;
		}


.body
{
	display: flex;
	flex-direction: column;

	justify-content: flex-start;

	position: fixed;


	left: 384px;
	top: 0;
	bottom: 0;
	right: 0;

	min-width: 640px;

	z-index: 1;
}

	.banner
	{
		position: relative;

		height: 60px;

		color: white;
		background: darkorange;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

		border-bottom: 1px solid #ddd;

		z-index: 3;
	}

	.calendar-heading
	{
		display: flex;
		align-items: center;

		flex: 0 0 60px;

		padding-left: 100px;
		padding-right: 100px;

		color: white;
		background: orange;

		z-index: 2;
	}

		.calendar-heading .action
		{
			display: inline;
			flex: 0 0 auto;
			cursor: pointer;

			font-size: 40px;

			-webkit-user-select: none;

			transition: background 0.05s;
		}

		.calendar-heading .action:hover
		{
			color: coral;
			background-color: white;
		}

		.calendar-heading .text
		{
			flex: 1 1 auto;
			text-align: center;

			font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
			font-size: 28px;
		}

	table.calendar-body
	{
		border-collapse: collapse;

		text-align: center;
		margin: 30px auto;

		z-index: 1;
	}
			
		table.calendar-body thead tr th
		{
			padding: 16px 20px 12px 20px;

			color: #444;

			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			font-size: 16px;
			font-weight: bold;

			cursor: default;
			-webkit-user-select: none;
		}

		table.calendar-body thead tr::after
		{
			content: "";
			display: block;

			background: #444;

			height: 10px;
		}

		table.calendar-body tbody tr td
		{
			padding-top: 12px;
			padding-bottom: 12px;

			color: white;

			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			font-size: 16px;
		}

		table.calendar-body tbody tr td.visible .node
		{
			display: flex;
			align-items: center;
			justify-content: center;

			margin: 0 auto;

			width: 28px;
			height: 28px;

			color: #666;
			font-family: Arial, Helvetica, sans-serif;

			border-radius: 10px;
			/*border: 1px solid rgba(0, 0, 0, 0.2);*/

			cursor: pointer;
			
			-webkit-user-select: none;
		}

		table.calendar-body tbody tr td.visible .node:hover
		{
			color: white;
			background: #666;

			/*border: 1px solid transparent;*/
		}